body {
  margin: 0;
  /* font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Encode Sans", Arial, Helvetica, sans-serif;
  /* font-weight: 300; */
  font-size: 14px;
  line-height: 1.5;
  /* color: #333; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5em 0 0.5em 0;
  font-weight: 700;
  line-height: 1.2;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: dotted underline 1px;
}

code {
  font-family: Consolas, Menlo, Inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.1em 0.2em;
  border-radius: 2px;
}

* {
  transition: all 0.25s ease 0s;
}

@media (min-width: 400px) {
  body {
    font-size: 16.85px;
  }
}

.note {
  margin: 0;
  font-size: 80%;
  font-style: italic;
  font-weight: 400;
  color: hsl(0, 0%, 50%);
}

h1 .note,
h2 .note,
h3 .note,
h4 .note,
h5 .note,
h6 .note {
  font-size: 70%;
}

