body {
  margin: 0;
  /* font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Encode Sans", Arial, Helvetica, sans-serif;
  /* font-weight: 300; */
  font-size: 14px;
  line-height: 1.5;
  /* color: #333; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5em 0 0.5em 0;
  font-weight: 700;
  line-height: 1.2;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: dotted underline 1px;
}

code {
  font-family: Consolas, Menlo, Inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.1em 0.2em;
  border-radius: 2px;
}

* {
  transition: all 0.25s ease 0s;
}

@media (min-width: 400px) {
  body {
    font-size: 16.85px;
  }
}

.note {
  margin: 0;
  font-size: 80%;
  font-style: italic;
  font-weight: 400;
  color: hsl(0, 0%, 50%);
}

h1 .note,
h2 .note,
h3 .note,
h4 .note,
h5 .note,
h6 .note {
  font-size: 70%;
}

/* ideally, we'd have SCSS for this, so we're not re-defining the colors... */
.was {
  color: hsl(0, 0%, 50%);
  font-size: 84%;
  font-style: italic;
}

.was::before {
  content: "(";
}

.was::after {
  content: ")";
}

.blue {
  color: hsl(220, 80%, 50%);
}
.red {
  color: hsl(0, 80%, 50%);
}
.yellow {
  color: hsl(60, 80%, 45%);
}
.white {
  color: hsl(0, 0%, 70%);
}
.green {
  color: hsl(100, 80%, 30%);
}
.pink {
  color: hsl(320, 80%, 70%);
}
.purple {
  color: hsl(280, 80%, 70%);
}

.stroke-blue {
  stroke: hsl(220, 80%, 50%);
}
.stroke-red {
  stroke: hsl(0, 80%, 50%);
}
.stroke-yellow {
  stroke: hsl(60, 80%, 45%);
}
.stroke-white {
  stroke: hsl(0, 0%, 70%);
}
.stroke-green {
  stroke: hsl(100, 80%, 30%);
}
.stroke-pink {
  stroke: hsl(320, 80%, 70%);
}
.stroke-purple {
  stroke: hsl(280, 80%, 70%);
}

.fill-blue {
  fill: hsl(220, 80%, 50%);
}
.fill-red {
  fill: hsl(0, 80%, 50%);
}
.fill-yellow {
  fill: hsl(60, 80%, 45%);
}
.fill-white {
  fill: hsl(0, 0%, 70%);
}
.fill-green {
  fill: hsl(100, 80%, 30%);
}
.fill-pink {
  fill: hsl(320, 80%, 70%);
}
.fill-purple {
  fill: hsl(280, 80%, 70%);
}
